<div class="container-fluid text-center" style="background-color: aquamarine; height:30px"><h1>{{ resultado }}</h1></div>

<div class="container-fluid allpage">
    <div class="allpage">
        <div class='recuadro2' id="uno">
		    <h1>{{ resultado }}</h1>
	    </div>
	<div class='recuadro' id="tres">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/wp2h3DxBNJ8" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class='recuadro' id="cuatro">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/wp2h3DxBNJ8" frameborder="0" allowfullscreen></iframe>
	</div>
    </div>
</div>