<div class="row" id="body-row" style="background-image: url(' /img/fondo1.jpg'); width: 100%; height: 90%;">
    <!-- Panel Lateral -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-3" style="border-radius: 5%;">
        <div style="height: 50px;"></div>
        <ul class="list-group sticky-top sticky-offset">
            <li class="bg-dark list-group-item sidebar-separator-title text-white d-flex align-items-center menu-collapsed">
                <small>Opciones</small>
            </li>
            <a href="https://drive.google.com/drive/folders/14U9zsT5mQtgxAwAO2Y4mprkReO8dfCrg?usp=sharing" class="bg-dark list-group-item list-group-item-action" target="_blank">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-fw mr-3"><img src="/img/grad.svg" width="28" height="24"
                            class="d-inline-block align-top"></span>
                    <span class="menu-collapsed">Gradiente Decendente</span>
                </div>
            </a>
            <a href="" class="bg-dark list-group-item list-group-item-action" target="_blank">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-fw mr-3"><img src="/img/pen.svg" width="28" height="24"
                            class="d-inline-block align-top"></span>
                    <span class="menu-collapsed">Funcion de Penalización</span>
                </div>
            </a>

            <a href="https://drive.google.com/drive/folders/1Ap-0IRf6lSpB7GjW2AnkWs7MNjmRDSsd?usp=sharing" class="bg-dark list-group-item list-group-item-action" target="_blank">
                <div class="d-flex w-120 justify-content-start align-items-left">
                    <span class="fa fa-fw mr-3"><img src="/img/rna.svg" width="28" height="24"
                            class="d-inline-block align-top"></span>
                    <span class="menu-collapsed"> Redes Neuronales Artificiales</span>
                </div>
            </a>

            <li class="list-group-item sidebar-separator menu-collapsed bg-dark"></li>

            <a href="#" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-question fa-fw mr-3"></span>
                    <span class="menu-collapsed">Ayuda</span>
                </div>
            </a>
            <!-- Logo -->
            <li class="bg-dark list-group-item logo-separator d-flex justify-content-center">
                <img src="/img/Logo2.jpg" width="55" height="55">
            </li>
        </ul>
    </div>
    <!-- Panel Lateral END -->

    <div class="index container p-4 col-md-8  align-self-center">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-body">
                        <h3>Bienvenido {{user.Nombres}}</h3>
                        <h4>{{user.Apellidos}}</h4>
                        <a href="/nn/add" class="btn btn-primary m-4 text-center">Resolver Función</a>
                    </div>
                </div>
            </div>
        </div>
    </div>