.ver{
    height: 40px;
}

.div1{
    font-family: 'Libre Baskerville';
    overflow-y: hidden;
}
.div2{
    overflow-y: scroll;
}

.index {
    margin-top: 1%;
    align-items: left;
    justify-content: center; 
    width: 100%;
    height: 100%;
    background-color:whitesmoke;
    border: rgb(51, 51, 51) solid 2px; 
    border-radius: 15px;
}

.logo {
    width: 15%;
    height: 15%;
}

.footer{
    display: block;
    align-items: top;
    justify-content: center; 
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

.fade-no {
    animation-duration: 5s;
    opacity: 0;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
    
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container { 
    min-height: 600px;  
    background-color: #333;
    height: 310px;
    position: sticky;
    display: block;
}

.sticky-offset {
    top: 56px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 55px;
    color: white;    
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 75px;
}

.grafico {
	border:1px solid black;
	width:43.5%;
	display:inline-block;
	height:71.5%;
	overflow:scroll;
}

.tabla {
	border:1px solid black;
	width:55.5%;
	display:inline-block;
	height:71.5%;
	overflow:scroll;
}

.right{
	width:12%;
	display:inline-block;
	height:27%;
	overflow:auto;
    font-family: 'Libre Baskerville';
}
.left{
	width:9%;
	display:inline-block;
	height:27%;
	overflow:auto;
}

.left2{
	width:13%;
	display: inline-block;
	height:110px;
    top: 50px;
    margin: 40px;

}

.resultadoExport {
    padding-top: 20px;
	border:1px solid black;
	width:92%;
	display: inline-block;
	height:40%;
    font-family: 'Libre Baskerville';
}

.resultado {
	border:1px solid black;
	width:95%;
	display:inline-block;
	height:27%;
	overflow:hidden;
    font-family: 'Libre Baskerville';
}


.allpage {
    z-index: 10;
    height: 610px;
	margin:0;
	padding:0;
	width:100%;
	background-color:whitesmoke;
    position: relative;
}

#cont_carga{
    position: 'absolute';
    background-color: rgb(187, 247, 179);
    z-index: 20;
    opacity: .9;
}

#carga {
    border: 25px solid rgb(235, 235, 235);
    border-color: #28a745;
    border-top-style: groove;
    height: 175px;
    width: 175px;
    border-radius: 110%;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
    
}

@keyframes girar {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
    
}
