<div class="container-fluid" style="border-radius: 20%;">
  <!-- Bootstrap NavBar -->
  <nav class="navbar-expand-md navbar-dark sticky-top bg-dark" style="border-radius: 5%;">
    <a class="navbar-brand" href="/">
      <img src="/img/Logo.jpg" width="48" height="42" class="d-inline-block align-top" alt="Logo">
      <span>GerMath.JS</span>
    </a>
    <div class="navbar-collapse" style="float: right;">
      <!-- Opciones Principales -->
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        {{#ifEquals user.fk_Rol 1}}
        <!--
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">Administración U</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/admins">Administración A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/est_rol">Administración T</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/act_user">Administración D</a>
        </li>
        -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/admin/users" id="navbarDropdown" role="button" data-toggle="dropdown" arias
            aria-haspopup="true" aria-expanded="false">
            Administración
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/admin/users" class="dropdown-item">Ver Usuarios</a>
            <a href="/admin/admins" class="dropdown-item">Ver Administradores</a>
            <a href="/admin/act_user" class="dropdown-item">Activar Cuentas</a>
            <a href="/admin/est_rol" class="dropdown-item">Actualizar Roles</a>
            <div class="dropdown-divider"></div>
            <a href="/admin/data" class="dropdown-item">Revisar Datos de RNA</a>
          </div>
        </li>
        {{/ifEquals }}
        <li class="nav-item">
          <a class="nav-link" href="/nn/add">Optimizador Lineal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/profile">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Salir</a>
        </li>
        {{else}}
        <li class="nav-item active">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/signin">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/signup">Registrarse</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
  <!-- NavBar END -->
</div>