<main class="index" style="position: absolute; top: 8%; width: 98%; height: 65%;">
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <img src="/img/LogoSimple.jpg" alt="Buho Logo" class="logo card-img-top mx-auto m-2 rounded" style="border: rgb(51, 51, 51) solid 2px;">
            <h1 class="mb-3">GerMath.JS.</h1>
            <h3 class="mb-5">
                <em>Red Neuronal para la Optimizacion de Funciones NO Lineales</em>
                <p>2020-2021</p>
            </h3>
            <a target="_blank" href="https://github.com/GermanCode/GerMath.JS" class="btn btn-primary">Documentación disponible en: https://github.com/GermanCode/GerMath.JS</a>
            <p></p>
        </div>
    </header>
</main>