<main class="index" style="position: absolute; top: 8%; width: 98%; height: 65%;">
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <img src="/img/LogoSimple.jpg" alt="GerMath Logo" class="card-img-top mx-auto m-2 rounded h-25" style="width: 190px; border: 2px solid black;">
            <h1 class="mb-3">GerMath.JS.</h1> <h5>|</h5><h3>v2.3.5</h3>
            <h3 class="mb-5">
                <em>Red Neuronal para la Optimizacion de Funciones NO Lineales</em>
                <p>2022</p>
            </h3>
            <a target="_blank" href="https://github.com/GermanCode/GerMath.JS" class="btn btn-primary">Documentación disponible en: https://github.com/GermanCode/GerMath.JS</a>
            <p></p>
        </div>
    </header>
</main>